<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>Rime OS</vendor>
  <vendor_url>https://github.com/AndreNijman/rime-os</vendor_url>

  <!-- Power tier changes (SetTier, SetAutoSwitch). The logged-in local user
       may switch tiers without a password; inactive/remote sessions need an
       administrator. -->
  <action id="org.rimeos.rimed.manage-power">
    <description>Manage Rime OS power tiers</description>
    <message>Authentication is required to change the Rime OS power tier</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>

  <!-- Battery management (SetChargeThresholds, SetTravelMode, Calibrate). -->
  <action id="org.rimeos.rimed.manage-battery">
    <description>Manage Rime OS battery charge settings</description>
    <message>Authentication is required to change Rime OS battery settings</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>
</policyconfig>
